@import url("http://fonts.googleapis.com/css?family=Coiny");
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

*:focus {
  outline: none;
  box-sizing: border-box; }

body {
  background: #73bef0;
  background-image: -webkit-linear-gradient(top, #73bef0, white);
  background-image: -moz-linear-gradient(top, #73bef0, white);
  background-image: -o-linear-gradient(top, #73bef0, white);
  background-image: -ms-linear-gradient(top, #73bef0, white);
  background-image: linear-gradient(to bottom, #73bef0, white);
  height: 100vh;
  text-align: center; }

.header-text, header h1, .show-chosen div h2, .game-over-wrapper > div h1 {
  color: #ff9f66;
  font-size: 50px;
  font-family: 'Coiny', cursive;
  text-shadow: 1px -1px white, 3px 1px 3px black; }

section {
  width: 80%;
  margin: auto;
  border: 1px solid white;
  padding: 10px;
  border-top: none;
  border-bottom: none; }

.input-group {
  height: 72px; }
  .input-group h2 {
    color: #f15151;
    font-family: sans-serif;
    padding-top: 7px; }
  .input-group span {
    color: white;
    font-size: 25px; }
  .input-group .my-input {
    color: dimgrey;
    width: 81px;
    height: 56px;
    border-radius: 5px;
    border: 2px solid #fbfbfb;
    background: #e0f0fb;
    font-size: 33px;
    text-align: center; }

.my-block, .time-control button, .game-over-wrapper > div button, .dashboard .btn-group button, .dashboard .score div {
  box-shadow: 1px 1px 2px black, 3px 2px white;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin-left: 3vw;
  border: none;
  margin-top: 10px; }

.time-control, .game-over-wrapper > div {
  margin: 2vh 0 0 0;
  height: 60px; }
  .time-control h2, .game-over-wrapper > div h2 {
    color: white;
    display: inline-block;
    font-size: 33px;
    font-family: monospace;
    text-shadow: 2px 1px 3px black; }
  .time-control button, .game-over-wrapper > div button {
    color: white;
    box-shadow: 1px 1px 2px dimgray; }
  .time-control .start, .game-over-wrapper > div .start {
    background: #95ff8f;
    background-image: -webkit-linear-gradient(top, #95ff8f, #1a881a);
    background-image: -moz-linear-gradient(top, #95ff8f, #1a881a);
    background-image: -ms-linear-gradient(top, #95ff8f, #1a881a);
    background-image: -o-linear-gradient(top, #95ff8f, #1a881a);
    background-image: linear-gradient(to bottom, #95ff8f, #1a881a);
    padding: 10px 29px; }
    .time-control .start:hover, .game-over-wrapper > div .start:hover {
      background: #24a753; }
    .time-control .start:active, .game-over-wrapper > div .start:active {
      background: #1f7d41; }
  .time-control .restart, .game-over-wrapper > div .restart {
    background: #ff9fae;
    background-image: -webkit-linear-gradient(top, #ff9fae, #42000a);
    background-image: -moz-linear-gradient(top, #ff9fae, #42000a);
    background-image: -ms-linear-gradient(top, #ff9fae, #42000a);
    background-image: -o-linear-gradient(top, #ff9fae, #42000a);
    background-image: linear-gradient(to bottom, #ff9fae, #42000a);
    cursor: not-allowed; }
    .time-control .restart:hover, .game-over-wrapper > div .restart:hover {
      background: #942132; }
    .time-control .restart:active, .game-over-wrapper > div .restart:active {
      background: #540b16; }

.show-chosen {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh; }
  .show-chosen div {
    background: white;
    border-radius: 10px;
    display: inline-block;
    width: 167px;
    padding-top: 10px;
    height: 113px;
    box-shadow: 2px 1px 4px dimgrey, 0px -1px 2px dimgrey; }
    .show-chosen div h2 {
      color: #e0e0e0;
      text-shadow: 1px -1px white, 3px 1px 2px black, 0px -1px 1px black; }
  .show-chosen #user > img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  .show-chosen img {
    height: 100%; }

.dashboard {
  margin: 5vh 0;
  display: flex;
  justify-content: space-around; }
  .dashboard .btn-group {
    display: inline-block; }
    .dashboard .btn-group button {
      font-size: 40px;
      padding: 14px;
      background: white;
      cursor: not-allowed; }
      .dashboard .btn-group button:hover {
        background: lightgray; }
      .dashboard .btn-group button:active {
        background: dimgray; }
  .dashboard .score {
    color: white; }
    .dashboard .score div {
      display: inline-block;
      background: dimgray;
      border: 1px solid #4a4a4a;
      width: 69px;
      padding: 10px 0; }

.game-over-wrapper {
  position: fixed;
  left: 50%;
  top: 29%; }
  .game-over-wrapper > div {
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;
    left: -50%;
    width: 320px;
    background: rgba(58, 58, 58, 0.48);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.48); }
    .game-over-wrapper > div > div {
      width: 100%;
      padding-top: 19px;
      background: rgba(255, 255, 255, 0.57);
      border-radius: 10px 10px 0 0; }
    .game-over-wrapper > div h1 {
      font-size: 42px; }
    .game-over-wrapper > div h2 {
      display: block;
      font-size: 29px; }
    .game-over-wrapper > div button {
      margin: 19px 0; }
      .game-over-wrapper > div button:hover {
        background: dimgray; }
      .game-over-wrapper > div button:active {
        background: black; }

@media (max-width: 768px) {
  section {
    width: 100%;
    border: none;
    padding: 0; } }

@media (max-width: 550px) {
  .header-text, header h1, .show-chosen div h2, .game-over-wrapper > div h1 {
    font-size: 39px; }
  .input-group {
    height: 48px; }
    .input-group .my-input {
      height: 44px; }
  .dashboard .btn-group button {
    padding: 8px; }
  .dashboard .score div {
    padding: 5px 0;
    width: 58px; } }

@media (max-width: 435px) {
  .header-text, header h1, .show-chosen div h2, .game-over-wrapper > div h1 {
    font-size: 30px; }
  .show-chosen div {
    width: 132px;
    height: 89px;
    padding-top: 22px;
    margin-top: 7vh; }
  .time-control, .game-over-wrapper > div {
    margin: 0; }
    .time-control h2, .game-over-wrapper > div h2 {
      display: block; } }
