// CSS Reset
@import "reset";
// Google Fonts
@import url('http://fonts.googleapis.com/css?family=Coiny');
//
$sky-color: #73bef0;
$orange: #ff9f66;
$vertical-space: 5vh 0;

*:focus {
  outline: none;
  box-sizing: border-box;
}

body{
  background: #73bef0;
  // cross browsers
  background-image: -webkit-linear-gradient(top, $sky-color, white);
  background-image: -moz-linear-gradient(top, $sky-color, white);
  background-image: -o-linear-gradient(top, $sky-color, white);
  background-image: -ms-linear-gradient(top, $sky-color, white);
  background-image: linear-gradient(to bottom, $sky-color, white);
  height: 100vh;
  text-align: center;
}
.header-text{
  color: $orange;
  font-size: 50px;
  font-family: 'Coiny', cursive;
  text-shadow: 1px -1px white, 3px 1px 3px black;
}
header{
  h1{
    @extend .header-text;
  }
}
section{
  width: 80%;
  margin: auto;
  border: 1px solid white;
  padding: 10px;
  border-top: none;
}

.input-group{
  height: 72px;
  h2{
    color: #f15151;
    font-family: sans-serif;
    padding-top: 7px;
  }
  span {
    color: white;
    font-size: 25px;
  }
  .my-input{
    color: dimgrey;
    width: 81px;
    height: 56px;
    border-radius: 5px;
    border: 2px solid #fbfbfb;
    background: #e0f0fb;
    font-size: 33px;
    text-align: center;
  }
}

.my-block{
  box-shadow: 1px 1px 2px black, 3px 2px white;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin-left: 3vw;
  border: none;
}

.time-control{
  margin: 6vh 0 0 0;
  height: 60px;
  h2{
    color: white;
    display: inline-block;
    font-size: 33px;
    font-family: monospace;
    text-shadow: 2px 1px 3px black;
  }
  button{
    color: white;
    @extend .my-block;
    box-shadow: 1px 1px 2px dimgray;
  }
  .start{
    background: #95ff8f;
    background-image: -webkit-linear-gradient(top, #95ff8f, #1a881a);
    background-image: -moz-linear-gradient(top, #95ff8f, #1a881a);
    background-image: -ms-linear-gradient(top, #95ff8f, #1a881a);
    background-image: -o-linear-gradient(top, #95ff8f, #1a881a);
    background-image: linear-gradient(to bottom, #95ff8f, #1a881a);
    padding: 10px 29px;
    &:hover{
      background: #24a753;
    }
    &:active{
      background: #1f7d41;
    }
  }
  .restart{
    background: #ff9fae;
    background-image: -webkit-linear-gradient(top, #ff9fae, #42000a);
    background-image: -moz-linear-gradient(top, #ff9fae, #42000a);
    background-image: -ms-linear-gradient(top, #ff9fae, #42000a);
    background-image: -o-linear-gradient(top, #ff9fae, #42000a);
    background-image: linear-gradient(to bottom, #ff9fae, #42000a);
    cursor: not-allowed;
    &:hover{
      background: #942132;
    }
    &:active{
      background: #540b16;
    }
  }
}

.show-chosen{
  display: flex;
  justify-content: space-around;
  margin: $vertical-space;
  div{
    background: white;
    border-radius: 10px;
    display: inline-block;
    width: 167px;
    padding-top: 10px;
    height: 113px;
    box-shadow: 2px 1px 4px dimgrey, 0px -1px 2px dimgrey;
    h2{
      @extend .header-text;
      color: #e0e0e0;
      text-shadow: 1px -1px white, 3px 1px 2px black, 0px -1px 1px black;
    }
  }
  #user > img{
    //to flip user img cross browsers
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  img{
    height: 100%
  }
}

.dashboard{
  margin: $vertical-space;
  display: flex;
  justify-content: space-around;
  .btn-group{
    display: inline-block;
    button{
      @extend .my-block;
      font-size: 40px;
      padding: 14px;
      background: white;
      cursor: not-allowed;
      &:hover{
        background: lightgray;
      }
      &:active{
        background: dimgray;
      }
    }
  }
  .score{
    color: white;
    div{
      @extend .my-block;
      display: inline-block;
      background: dimgray;
      border: 1px solid #4a4a4a;
      h2{

      }
    }
  }
}
#gameOver{
  @extend .time-control;
  padding: 0;
  margin: 0;
  height: auto;
  position: absolute;
  top: 29%;
  left: 33%;
  width: 320px;
  background: rgba(58, 58, 58, 0.48);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.48);
  >div{
    width: 100%;
    padding-top: 19px;
    background: rgba(255, 255, 255, 0.57);
    border-radius: 10px 10px 0 0;;
  }
  h1{
    @extend .header-text;
  }
  h2{
    display: block;
  }
  button{
    margin: 19px 0;
    &:hover{
      background: dimgray;
    }
    &:active{
      background: black;
    }
  }
}
