html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

*:focus {
  outline: none; }

body {
  background: #73bef0;
  background-image: -webkit-linear-gradient(top, #73bef0, white);
  background-image: -moz-linear-gradient(top, #73bef0, white);
  background-image: -o-linear-gradient(top, #73bef0, white);
  background-image: -ms-linear-gradient(top, #73bef0, white);
  background-image: linear-gradient(to bottom, #73bef0, white);
  height: 100vh;
  text-align: center; }

.header-text, header h1, .play div h2 {
  color: #ff9f66;
  font-size: 50px;
  font-family: 'Coiny', cursive;
  text-shadow: 1px -1px white, 3px 1px 3px black; }

.input-group {
  margin: 3vh 0; }
  .input-group span {
    color: white;
    font-size: 25px; }
  .input-group .my-input {
    width: 81px;
    height: 56px;
    border-radius: 5px;
    border: 3px solid #fbfbfb;
    background: #e0f0fb;
    font-size: 33px;
    text-align: center; }

.time-control {
  margin: 3vh 0; }
  .time-control h2 {
    color: white;
    display: inline-block;
    font-size: 33px;
    font-family: monospace;
    text-shadow: 2px 1px 3px black; }
  .time-control button {
    color: white;
    box-shadow: 1px 1px 2px black, 3px 2px white;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin-left: 3vw;
    border: none; }
  .time-control .start {
    background: #27ff1c;
    background-image: -webkit-linear-gradient(top, #27ff1c, #016101);
    background-image: -moz-linear-gradient(top, #27ff1c, #016101);
    background-image: -ms-linear-gradient(top, #27ff1c, #016101);
    background-image: -o-linear-gradient(top, #27ff1c, #016101);
    background-image: linear-gradient(to bottom, #27ff1c, #016101);
    padding: 10px 29px; }
    .time-control .start:hover {
      background: #24a753; }
    .time-control .start:active {
      background: #1f7d41; }
  .time-control .restart {
    background: #e02f4a;
    background-image: -webkit-linear-gradient(top, #e02f4a, #42000a);
    background-image: -moz-linear-gradient(top, #e02f4a, #42000a);
    background-image: -ms-linear-gradient(top, #e02f4a, #42000a);
    background-image: -o-linear-gradient(top, #e02f4a, #42000a);
    background-image: linear-gradient(to bottom, #e02f4a, #42000a); }
    .time-control .restart:hover {
      background: #942132; }
    .time-control .restart:active {
      background: #540b16; }

.play {
  display: flex;
  justify-content: space-around; }
  .play div {
    background: white;
    border-radius: 10px;
    display: inline-block;
    margin: 3vh 0;
    width: 40%;
    height: 18vh; }
